.App {
  text-align: center;
  font-size: 24px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.none {
  display: none;
}

.visible {
  display: default;
}

ul li {
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
  font-size: 18px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
}

ul li:active {
  border: 1px solid red;
}
